.red,.green{
    color: white;
}
.green,.orange{
    font-size: 18px;
}
.red{
    background-color: red;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.green{
    background-color: green;
}

.orange{
    background-color: orange;
}